<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Traffic</h5>
                  <span class="h2 font-weight-bold mb-0">350,897</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span class="text-nowrap">Since last month</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">New users</h5>
                  <span class="h2 font-weight-bold mb-0">2,356</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-chart-pie"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>
                <span class="text-nowrap">Since last week</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Sales</h5>
                  <span class="h2 font-weight-bold mb-0">924</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>
                <span class="text-nowrap">Since yesterday</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Performance</h5>
                  <span class="h2 font-weight-bold mb-0">49,65%</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                    <i class="fas fa-percent"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
                <span class="text-nowrap">Since last month</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">

  <!-- Default Table -->
  <app-table
    [tableTitle]="'Dark Table Example'"
    [tablePagerOn]="true"
    [tableColumns]="[
      'Avatar with name',
      'Status',
      'Text',
      'Avatar Group',
      'Progress'
    ]"
    [tableData]="[]"
  >
    <tr app-table-row>
      <th
        app-table-cell
        [cellType]="'nameWithAvatar'"
        [imageUrl]="'http://localhost:4200/assets/img/theme/angular.jpg'"
        [name]="'Study Group Name'"
      >
      </th>
      <td
        app-table-cell
        [cellType]="'status'"
        [status]="'pending'"
      >
      </td>
      <td
        app-table-cell
        [cellType]="'text'"
      >
        info
      </td>
      <td
        app-table-cell
        [cellType]="'avatarGroup'"
      >
      </td>
      <td
        app-table-cell
        [cellType]="'progress'"
        [percentage]="45"
        [progressColor]="'danger'"
      >
      </td>
      <td
        app-table-cell
        [cellType]="'actions'"
      >
      </td>
    </tr>
    <tr app-table-row>
      <th
        app-table-cell
        [cellType]="'nameWithAvatar'"
        [imageUrl]="'http://localhost:4200/assets/img/theme/angular.jpg'"
        [name]="'Study Group Another Name'"
      >
      </th>
      <td
        app-table-cell
        [cellType]="'status'"
        [status]="'completed'"
      >
      </td>
      <td
        app-table-cell
        [cellType]="'text'"
      >
        info
      </td>
      <td
        app-table-cell
        [cellType]="'avatarGroup'"
      >
      </td>
      <td
        app-table-cell
        [cellType]="'progress'"
        [percentage]="80"
        [progressColor]="'info'"
      >
      </td>
      <td
        app-table-cell
        [cellType]="'actions'"
      >
      </td>
    </tr>
  </app-table>
  <!-- Dark Table -->
  <app-table
    [tableDarkMode]="true"
    [tableTitle]="'Dark Table Example'"
    [tableColumns]="[
      'Avatar with name',
      'Status',
      'Text',
      'Avatar Group',
      'Progress'
    ]"
    [tableData]="[]"
  >
    <tr app-table-row>
      <th
        app-table-cell
        [cellType]="'nameWithAvatar'"
        [imageUrl]="'http://localhost:4200/assets/img/theme/angular.jpg'"
        [name]="'Study Group Name'"
      >
      </th>
      <td
        app-table-cell
        [cellType]="'status'"
        [status]="'pending'"
      >
      </td>
      <td
        app-table-cell
        [cellType]="'text'"
      >
        info
      </td>
      <td
        app-table-cell
        [cellType]="'avatarGroup'"
      >
      </td>
      <td
        app-table-cell
        [cellType]="'progress'"
        [percentage]="45"
        [progressColor]="'danger'"
      >
      </td>
      <td
        app-table-cell
        [cellType]="'actions'"
      >
      </td>
    </tr>
    <tr app-table-row>
      <th
        app-table-cell
        [cellType]="'nameWithAvatar'"
        [imageUrl]="'http://localhost:4200/assets/img/theme/angular.jpg'"
        [name]="'Study Group Another Name'"
      >
      </th>
      <td
        app-table-cell
        [cellType]="'status'"
        [status]="'completed'"
      >
      </td>
      <td
        app-table-cell
        [cellType]="'text'"
      >
        info
      </td>
      <td
        app-table-cell
        [cellType]="'avatarGroup'"
      >
      </td>
      <td
        app-table-cell
        [cellType]="'progress'"
        [percentage]="80"
        [progressColor]="'info'"
      >
      </td>
      <td
        app-table-cell
        [cellType]="'actions'"
      >
      </td>
    </tr>
  </app-table>
</div>
